@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    overflow-x: hidden;
}


.section-4{
    display: flex;
    background-color: #fede48;
    width: 99vw;
    padding: 2rem 2rem 1rem 5rem;
    justify-content: space-between;
    position: relative;
}
.teachers{
    flex-basis: 35%;

}
.teachers  span{
    font-weight: 700;
    font-size: 1.3rem;
    color:#b02900
}
.teachers h3{
    font-size: 2.8rem;
    font-weight: 500;
    color: #0a0a0a;
}
.teachers p{
    font-weight: 400;
    font-size: 1.6rem;
    color: #595959;
    padding: 2rem 0;

}
.teachers .button2{
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    background-color:#0a0a0a;
    border-radius: 100px;
    padding: 1.4rem 5rem;
}
.teachers-flex{
    margin-top: 5rem;
    position: relative;
    flex-basis: 65%;
}
.flex-{
    display: flex;
    position: relative;
    align-self: flex-end;
}
.flex->div{
    background-color:white;
    border-radius: 1rem;
    display: flex;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin: 1rem 2rem;
}
.flex- >div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex- div div{
    display: flex;
    flex-direction: row;
}
.flex- div div img{
    height: 4rem;
    width: 4rem;
}
.flex- div div div{
    display: flex;
    flex-direction: column;
}
.flex- div div div h4{
    font-weight: 600;
    font-size: 1.2rem;
    color: #212529;
}
.flex- div div div div{
    flex-direction: row;
    align-items: center;

}
.flex2{
    /* position: absolute; */
    left: 4rem;
}
.inner{
    display: flex;
    color: #212529;
    font-size: 1.3rem;
    font-weight: 400 ;
    width: auto;
    height: auto;
    align-items: center;
    margin-bottom: 1rem;
}
.inner code{
    width: 5px; 
    height: 5px;
    background-color: black; 
    display: block; 
    border-radius: 50%; 
    margin-right: 5px; 
    margin-left: 5px;
}
button{
    outline: none;
    border: none;
}
.button1{
    border-radius: 3rem;
    background-color: #0d5be9;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.4rem 6rem;
}


@media (max-width:930px){
    .flex- >div{
        padding: 2rem .5rem;
    } 
}
@media (max-width:865px){
    .teachers-flex{
        flex-basis: 75%;
    }
}
@media (max-width:845px){    
    .teachers{
        flex-basis: 25%;
    } 
} 
@media (max-width:760px) {
    .section-4{ 
        padding-left: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .teachers-flex{
        margin-bottom: 2rem;
    }
}